{% extends 'main/base.html' %}
{% block content %}
<style>
    .section {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        color: black;
    }
    .section code {
        font-size: 14px;
        display: block;
    }
    .section p {
        margin: 0;
    }
    .section a {
        margin-right: 10px;
    }
</style>

<h1>Данные измерений</h1>

{% for n in measuring_data %}
<div class="section">
    <p>Данные измерений:</p>
    <p>{{ n.Measuring_point_code }} / {{ n.channel_ats_code }} {{ n.period_start }}-{{ n.period_end }}:{{ n.value }}</p>
    <a href="#">Изменить</a>
</div>
{% endfor %}

<p><a href="#">Добавить данные</a></p>
{% endblock %}